  	<table width="100%" border="0" style="background-color:#FFFFFF;">	 
  		<tr>
  			<td width="100%" colspan="2" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Datos Generales:</td>
		</tr>	  	 					  	
  		<tr>
            <td width="30%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Proveedor:</label></td>
  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-attach-point="proveedoresDiv"></div></td>
		</tr>	
	</table>					
	<div data-dojo-attach-point="nombreEmpresaPane" style="display:none;">			
		<table width="100%" border="0" style="background-color:#FFFFFF;">	
			<tr>
	  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Nueva Empresa:</td>
	  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.CheckBox" data-dojo-attach-point="nuevaEmpresa" value=true data-dojo-props="checked: false"></div></td>
			</tr>				
	  		<tr>
	  			<td width="30%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Nombre de Empresa:</label></td>
	  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="empresaNombre" uppercase=true maxlength="64"></div></td>
			</tr>
		</table>
	</div>			
	<table width="100%" border="0" style="background-color:#FFFFFF;">	 															
		<tr>
            <td width="30%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Cliente:</label></td>
  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-attach-point="clientesDiv"></div></td>
		</tr>				
  		<tr>
  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">RFC:</td>
  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="rfc"></div></td>
		</tr>
  		<tr>
  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Direcci&oacute;n Fiscal:</td>
  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="direccionFiscal"></div></td>
		</tr>																														  				 		
	</table>	
	<div data-dojo-attach-point="nombreEmpresaPane" style="display:none;">		
		<table width="100%" border="0" style="background-color:#FFFFFF;">	 															
			<tr>
	  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Empresa Emisora Solicitada:</td>
	  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="empresaSolicitada" uppercase="true" maxlength="64"></div></td>
			</tr>
		</table>	
	</div>
	<table width="100%" border="0" style="background-color:#FFFFFF;">	 															 
  		<tr>
  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Empresa Emisora Solicitada:</td>
  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-attach-point="empresasDiv"></div></td>	  			
		</tr>																																				  				 		
	</table>		
	<table width="100%" border="0" style="background-color:#FFFFFF;">	 															
        <tr>
            <td width="30%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Forma de Pago:</label></td>
            <td width="10%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><button data-dojo-attach-point="selectFormaPagoButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onSelectFormaPago">SELECCIONAR</button></td>
            <td width="10%" align="left" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="formaPagoDisplay"></div></td>
            <td width="10%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">M&eacute;todo de Pago:</label></td>
            <td style="width:40%;">
                <select data-dojo-attach-point="metodoPago" data-dojo-type="ecm.widget.Select" style="width:300px;">
                    <option value="PUE">Pago en una sola exhibición (PUE)</option>
                    <option value="PPD">Pago en parcialidades o diferido (PPD)</option>
                </select>	                
            </td>             
        </tr>            
        <tr>
            <td width="30%"><label style="color:#970303;"></label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">N&uacute;mero de Cuenta:</label></td>
            <td width="20%" colspan="2" style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width:160px;" data-dojo-attach-point="numeroCuenta" maxlength="18" data-dojo-props="regExp:'^[0-9]*$', invalidMessage:'Formato Inválido.'"></div></td>
            <td width="10%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Uso de CFDI:</label></td>
            <td style="width:40%;">
                <select data-dojo-attach-point="usoCFDI" data-dojo-type="ecm.widget.Select" style="width:300px;">
                    <option value="P01">Por definir (P01)</option>  
                    <option value="G01">Adquisición de mercancias (G01)</option>
                    <option value="G02">Devoluciones, descuentos o bonificaciones (F02)</option>
                    <option value="G03" selected="selected">Gastos en general (G03)</option>
                    <option value="I01">Construcciones (I01)</option>
                    <option value="I02">Mobilario y equipo de oficina por inversiones (I02)</option>
                    <option value="I03">Equipo de transporte (I03)</option>
                    <option value="I04">Equipo de computo y accesorios (I04)</option>
                    <option value="I05">Dados, troqueles, moldes, matrices y herramental (I05)</option>
                    <option value="I06">Comunicaciones telefónicas (I06)</option>
                    <option value="I07">Comunicaciones satelitales (I07)</option>
                    <option value="I08">Otra maquinaria y equipo (I08)</option>
                    <option value="D01">Honorarios médicos, dentales y gastos hospitalarios (D01)</option>
                    <option value="D02">Gastos médicos por incapacidad o discapacidad (D02)</option>
                    <option value="D03">Gastos funerales (D03)</option>
                    <option value="D04">Donativos (D04)</option>
                    <option value="D05">Intereses reales efectivamente pagados por créditos hipotecarios (D05)</option>
                    <option value="D06">Aportaciones voluntarias al sar (D06)</option>
                    <option value="D07">Primas por seguros de gastos médicos (D07)</option>
                    <option value="D08">Gastos de transportación escolar obligatoria (D08)</option>
                    <option value="D09">Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones (D09)</option>
                    <option value="D10">Pagos por servicios educativos (D10)</option>                
                </select>	                
            </td>             
        </tr>        						  				 		
	</table>		
	<div data-dojo-attach-point="comisionesPane" style="display:none;">
	  	<table width="100%" border="0" style="background-color:#FFFFFF;">	 
	  		<tr>
	  			<td width="100%" colspan="4" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Comisiones:</td>
			</tr>	
	  		<tr>
                <td width="30%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Comisi&oacute;n del Proveedor:</label></td>
	  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="porcentajeComisionProveedor" style="width: 60px;" value="0" maxlength="6" data-dojo-props="constraints: {max: 100.00, maxString: '100.00', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato del porcentaje de comisión inválido'"></div><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;"> %</label></td>
	  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Monto:</td>
	  			<td width="30%" align="left" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="montoComisionProveedor"></div></td>		  				  			
	  		</tr>
	  		<tr>
                <td width="30%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Comisi&oacute;n del Distribuidor:</label></td>
	  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="porcentajeComisionDistribuidor" style="width: 60px;" value="0" maxlength="6" data-dojo-props="constraints: {max: 100.00, maxString: '100.00', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato del porcentaje de comisión inválido'"></div><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;"> %</label></td>
	  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Monto:</td>
	  			<td width="30%" align="left" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="montoComisionDistribuidor"></div></td>		  				  			
	  		</tr>		  				  						  	 					  	
		</table>	
	</div>				
	<table width="100%" border="0" style="background-color:#FFFFFF;">
  		<tr>
  			<td width="100%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Conceptos:</td>
		</tr>
    </table>
    <table width="100%" border="0" style="background-color:#FFFFFF;">
        <tr>
            <td width="5%" align="right"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Descripci&oacute;n:</label></td>
            <td width="20%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 400px;" data-dojo-attach-point="conceptoDescripcion" required="true"></div></td>
            <td width="5%" align="right"><label style="color:#970303;"></label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Clave:</label></td>
            <td width="5%"><div data-dojo-type="ecm.widget.ValidationTextBox" data-dojo-attach-point="conceptoClave" style="width: 60px;" required="false"></div></td>	  		                                        
            <td width="5%" align="right"><label style="color:#970303;"></label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">ProdServ:</label></td>
            <td width="1%"><div data-dojo-type="ecm.widget.ValidationTextBox" data-dojo-attach-point="conceptoProdServ" style="width: 100px;" required="false" maxlength="8" data-dojo-props="regExp:'^[0-9]{8}$', invalidMessage:'Formato Inválido.'"></div></td>	  		                                     
            <td width="1%"><div data-dojo-attach-point="searchProdServ" class="searchIcon" title="b&uacute;squeda de claves de productos y servicios"></div></td>
            <td width="5%" align="right"><label style="color:#970303;"></label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Unidad:</label></td>
            <td width="5%"><div data-dojo-type="ecm.widget.ValidationTextBox" data-dojo-attach-point="conceptoUnidad" style="width: 60px;" required="false"></div></td>	  		                    
            <td width="5%" align="right"><label style="color:#970303;"></label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">UniMed:</label></td>
            <td width="1%"><div data-dojo-type="ecm.widget.ValidationTextBox" data-dojo-attach-point="conceptoUniMed" style="width: 60px;" required="false" uppercase="true" maxlength="3" data-dojo-props="regExp:'^[a-zA-Z0-9]{2,3}$', invalidMessage:'Formato Inválido.'"></div></td>
            <td width="1%"><div data-dojo-attach-point="searchUniMed" class="searchIcon" title="b&uacute;squeda de claves de unidades y medidas"></div></td>
            <td width="5%" align="right"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Cantidad:</label></td>
            <td width="5%"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="conceptoCantidad" style="width: 60px;" value="1" required="true" maxlength="10" data-dojo-props="constraints: {max: 1.7976931348623157e+308, maxString: '1.7976931348623157E308', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato inválido'"></div></td>                    
            <td width="5%" align="right"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Unitario:</label></td>
            <td width="5%"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="conceptoPrecioUnitario" style="width: 80px;" value="0" required="true" maxlength="10" data-dojo-props="constraints: {max: 1.7976931348623157e+308, maxString: '1.7976931348623157E308', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato inválido'"></div></td>	  				  			                    
        </tr>		  			  					
	</table>
	<table width="100%" border="0" style="background-color:#FFFFFF;">				
		<tr>
			<td width="97%"><div></div></td>					
			<td width="1%"><button data-dojo-attach-point="addConceptoButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConceptoAdd">Agregar</button></td>
			<td width="1%"><button data-dojo-attach-point="updateConceptoButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConceptoUpdate">Actualizar</button></td>				
			<td width="1%"><button data-dojo-attach-point="deleteConceptoButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConceptoDelete">Eliminar</button></td>								
		</tr>
	</table>			
	<div data-dojo-type="dijit.layout.ContentPane" region="center" class="paneNoOverflow" splitter="true" style="background-color:#FFFFFF;">	
		<div data-dojo-attach-point="gridDiv" style="width: 100%;"></div>	
	</div>
	<table width="100%" border="0" style="background-color:#FFFFFF;">	
  		<tr>
  			<td width="80%"><div></div></td>
  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;">SubTotal:</td>
  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="subTotal"></div></td
		</tr>
  		<tr>
  			<td width="80%"><div></div></td>
  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;">IVA:</td>
  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="iva"></div></td>
		</tr>
  		<tr>
  			<td width="80%"><div></div></td>
  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Monto Total:</td>
  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="montoTotal"></div></td>
		</tr>
	</table>		
	<table width="100%" border="0" style="background-color:#FFFFFF;">		
  		<tr>
  			<td width="100%" colspan="2" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Observaciones para notificaci&oacute;n al proveedor:</td>
		</tr>
  		<tr>
  			<td width="100%" colspan="2"><div data-dojo-type="dijit.form.Textarea" style="width: 90%;font-family:arial;font-size:13px;font-weight:normal;color:black;" data-dojo-attach-point="observaciones" maxlength="1000" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div></td>
		</tr>	
	</table>							
	<table width="100%" border="0" style="background-color:#FFFFFF;">				
  		<tr>
  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">N&uacute;mero de facturas (1-20):</td>
  			<td width="10%"><div data-dojo-type="dijit.form.NumberSpinner" style="width: 70px;" data-dojo-attach-point="numeroCopias" value="1" data-dojo-props="smallDelta:1, constraints:{min:1,max:20,places:0}"></div></td>
  			<td width="30%" align="right" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Omitir notificaci&oacute;n </td>
  			<td><div data-dojo-type="ecm.widget.CheckBox" data-dojo-attach-point="omitirEnvioCorreo" value="true" data-dojo-props="checked: false"></td>	  				  
		</tr>
	</table>	
	<div data-dojo-attach-point="confirmacionPane" style="display:none;">
	  	<table width="100%" border="0" style="background-color:#1D6EC4;">	 
	  		<tr>
				<td width="90%" style="font-family:arial;font-size:12px;font-weight:bold;color:white;">¿Est&aacute; seguro de solicitar la(s) factura(s) con los datos ingresados?</td>					
				<td width="5%"><button data-dojo-attach-point="confirmarButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConfirmar">S&iacute;</button></td>
				<td width="5%"><button data-dojo-attach-point="cancelarButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onCancelar">No</button></td>		  				  			
	  		</tr>	  				  						  	 					  	
		</table>	
	</div>							
  	<table width="100%" border="0" style="background-color:#FFFFFF;">
  		<tr>
  			<td><div data-dojo-attach-point="progressBar" style="float:left;width:30px;height:15px;background:url('/navigator/ecm/themes/oneui/dijit/images/loadingAnimation.gif')  no-repeat center;display:none;"></div><div data-dojo-attach-point="message" style="font-family:arial;font-size:12px;font-weight:bold;color:#000253;float:left;"></div></td>
		</tr>
	</table>				