<div data-dojo-type="dijit.layout.ContentPane">
	<div data-dojo-attach-point="tabConteinerPane" data-dojo-type="dijit.layout.TabContainer" style="width: 100%; height: 790px; background-color:#FFFFFF;">
		<div data-dojo-attach-point="tab1" data-dojo-type="dijit.layout.ContentPane" title="Datos Generales" style="background-color:#FFFFFF;" data-dojo-props="selected:true">		
		  	<table width="100%" border="0" style="background-color:#FFFFFF;">
		  		<br>  	
		  		<tr>
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Proveedor:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="proveedor"></div></td>
				</tr>
		  		<tr style="display:none;">		
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Empresa Emisora Solicitada:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="empresaSolicitada"></div></td>
				</tr>
		  		<tr>
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Empresa:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-attach-point="empresasDiv"></div></td>	  			
				</tr>				
		  		<tr>
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">N&uacute;mero de Factura:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="numeroFactura"></div></td>
				</tr>	
		  		<tr>
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Fecha de Factura:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="fechaFactura"></div></td>
				</tr>					 															
		  		<tr>
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Cliente:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="cliente"></div></td>
				</tr>							
		  		<tr>
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">RFC:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="rfc"></div></td>
				</tr>
		  		<tr>
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Direcci&oacute;n Fiscal:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="direccionFiscal"></div></td>
				</tr>  	
		  		<tr>
		  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Estado Actual:</td>
		  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="estadoFactura"></div></td>
				</tr>
			</table>
            <table width="100%" border="0" style="background-color:#FFFFFF;">
                <tr>
                    <td width="30%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">M&eacute;todo de Pago:</label></td>
                    <td width="10%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><button data-dojo-attach-point="selectMetodoPagoButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onSelectMetodoPago">SELECCIONAR</button></td>
                    <td width="60%" align="left" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="metodosPagoDisplay"></div></td>	            
                </tr>            
                <tr>
                    <td width="30%"><label style="color:#970303;"></label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">N&uacute;mero de Cuenta:</label></td>
                    <td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width:160px;" data-dojo-attach-point="numeroCuenta" maxlength="18" data-dojo-props="regExp:'^[0-9]*$', invalidMessage:'Formato Inválido.'"></div></td>
                </tr>                                    
            </table>
			<div data-dojo-attach-point="comisionesPane" style="display:none;">
			  	<table width="100%" border="0" style="background-color:#FFFFFF;">	 
			  		<tr>
			  			<td width="100%" colspan="4" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Porcentaje de Comisiones:</td>
					</tr>	
			  		<tr>
			  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Comisi&oacute;n del Proveedor:</label></td>
			  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="porcentajeComisionProveedor" style="width: 60px;"  value="0" maxlength="6" data-dojo-props="constraints: {max: 100.00, maxString: '100.00', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato del porcentaje de comisión inválido'"></div><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;"> %</label></td>
			  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Monto:</td>
			  			<td width="30%" align="left" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="montoComisionProveedor"></div></td>		  				  			
			  		</tr>
			  		<tr>
			  			<td width="30%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Comisi&oacute;n del Distribuidor:</label></td>
			  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="porcentajeComisionDistribuidor" style="width: 60px;" value="0" maxlength="6" data-dojo-props="constraints: {max: 100.00, maxString: '100.00', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato del porcentaje de comisión inválido'"></div><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;"> %</label></td>
			  			<td style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Monto:</td>
			  			<td width="30%" align="left" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="montoComisionDistribuidor"></div></td>		  				  			
			  		</tr>		  				  						  	 					  	
				</table>	
			</div>					
		</div>
		<div data-dojo-attach-point="tab2" data-dojo-type="dijit.layout.ContentPane" title="Conceptos y Montos" style="background-color:#FFFFFF;" data-dojo-props="selected:false">	
			<table width="100%" border="0" style="background-color:#FFFFFF;">
		  		<br>
		  		<tr>
			  		<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Descripci&oacute;n:</label></td>
		  			<td colspan="5"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="conceptoDescripcion" required=true></div></td>
		  		</tr>
		  		<tr>
			  		<td width="15%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Unidad:</label></td>
		  			<td width="15%"><div data-dojo-type="ecm.widget.ValidationTextBox" data-dojo-attach-point="conceptoUnidad" style="width: 60px;" required="true"></div></td>	  		
			  		<td width="15%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Cantidad:</label></td>
		  			<td width="15%"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="conceptoCantidad" style="width: 60px;" value="1" required="true" maxlength="10" data-dojo-props="constraints: {max: 1.7976931348623157e+308, maxString: '1.7976931348623157E308', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato inválido'"></div></td>
			  		<td width="15%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Precio Unitario:</label></td>
		  			<td width="15%"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="conceptoPrecioUnitario" style="width: 100px;" value="0" required="true" maxlength="10" data-dojo-props="constraints: {max: 1.7976931348623157e+308, maxString: '1.7976931348623157E308', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato inválido'"></div></td>	  				  			
		  		</tr>		  			  					
			</table>
			<table width="100%" border="0" style="background-color:#FFFFFF;">				
				<tr>
					<td width="97%"><div></div></td>					
					<td width="1%"><button data-dojo-attach-point="addConceptoButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConceptoAdd">Agregar</button></td>
					<td width="1%"><button data-dojo-attach-point="updateConceptoButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConceptoUpdate">Actualizar</button></td>
					<td width="1%"><button data-dojo-attach-point="deleteConceptoButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConceptoDelete">Eliminar</button></td>
				</tr>
			</table>				
			<div data-dojo-type="dijit.layout.ContentPane" region="center" class="paneNoOverflow" splitter="true" style="background-color:#FFFFFF;">	
				<div data-dojo-attach-point="gridDiv" style="width: 100%;"></div>	
			</div>
			<table width="100%" border="0" style="background-color:#FFFFFF;">	
		  		<tr>
		  			<td width="20%"><div></div></td>
		  			<td width="40%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;" colspan="2">CONCEPTOS</td>		
		  			<td width="40%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;" colspan="2">SOLICITUD</td>
				</tr>								
		  		<tr>
		  			<td width="20%"><div></div></td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">SubTotal:</td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="subTotalConceptos"></div></td>	  			
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">SubTotal:</td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="subTotal"></div></td>
				</tr>
		  		<tr>
		  			<td width="20%"><div></div></td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">IVA:</td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="ivaConceptos"></div></td>		
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">IVA:</td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="iva"></div></td>
				</tr>
		  		<tr>
		  			<td width="20%"><div></div></td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Monto Total:</td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="montoTotalConceptos"></div></td>				
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Monto Total:</td>
		  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="montoTotal"></div></td>
				</tr>
			</table>	
		</div>
	</div>
	<div data-dojo-attach-point="archivosPane" style="padding:3px;border-radius:5px;background-color:#172861;">
		<table width="100%" border="0" style="background-color:#FFFFFF;">
	  		<tr>
	  			<td style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Archivos de la factura</td>
			</tr>
		</table>
		<table width="100%" border="0" style="background-color:#FFFFFF;">				
			<tr>
				<td width="98%">
					<form data-dojo-attach-point="_fileInputForm"
						name="fileUploadForm"
						enctype="multipart/form-data"
						accept-charset="UTF-8"
						method="post"
						target="${id}_fileInputIFrame">
						<input type="file"
							id="${id}_fileInput"
							name="uploadFile"
							class="fileInput"
							data-dojo-attach-point="_fileInput"
							data-dojo-attach-event="onchange: checkFileButtons"/>
						<iframe name="${id}_fileInputIFrame"
							id="${id}_fileInputIFrame"
							style="display: none">
						</iframe>
					</form>				
				</td>
				<td width="1%" align="left">
					<button data-dojo-attach-point="addFileButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onFileAdd">Anexar</button>
				</td>	
				<td width="1%" align="left">
					<button data-dojo-attach-point="deleteFileButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onFilesDelete">Eliminar Archivos</button>
				</td>										
			</tr>
		</table>
		<table width="100%" border="0" style="background-color:#FFFFFF;">
			<tr>
				<td width="10%" align="right"><div data-dojo-type="ecm.widget.RadioButton" type="radio" data-dojo-attach-point="radioPDF" name="fileRadio" value="pdf" checked></div></td>
				<td width="5%" align="right"><div class="mimePDF25"></div></td>
				<td width="75%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="pdfFileName"></div></td>
				<td width="10%" align="left"><button data-dojo-attach-point="viewPDFButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onPDFView">Ver</button></td>															
			</tr>	
			<tr>
				<td width="10%" align="right"><div data-dojo-type="ecm.widget.RadioButton" type="radio" data-dojo-attach-point="radioXML" name="fileRadio" value="xml"></div></td>
				<td width="5%" align="right"><div class="mimeXML25"></div></td>
				<td width="75%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;"><div data-dojo-attach-point="xmlFileName"></div></td>
				<td width="10%" align="left"><button data-dojo-attach-point="viewXMLButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onXMLView">Ver</button></td>					
			</tr>						
		</table>	
	</div>
	<br>
	<table width="100%" border="0" style="background-color:#FFFFFF;">		
			<tr>
				<td width="100%" colspan="2" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Observaciones para notificaci&oacute;n al proveedor o cliente:</td>
		</tr>
			<tr>
				<td width="100%" colspan="2"><div data-dojo-type="dijit.form.Textarea" style="width: 90%;font-family:arial;font-size:13px;font-weight:normal;color:black;" data-dojo-attach-point="observaciones" maxlength="1000" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div></td>
		</tr>	
	</table>		
	<div data-dojo-attach-point="confirmacionPane" style="display:none;">
	  	<table width="100%" border="0" style="background-color:#1D6EC4;">	 
	  		<tr>
				<td width="90%" style="font-family:arial;font-size:12px;font-weight:bold;color:white;"><div data-dojo-attach-point="confirmationMessage"></div></td>					
				<td width="5%"><button data-dojo-attach-point="confirmarButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConfirmar">S&iacute;</button></td>
				<td width="5%"><button data-dojo-attach-point="cancelarButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onCancelar">No</button></td>  			
	  		</tr>	  				  						  	 					  	
		</table>	
	</div>							
	<table width="100%" border="0" style="background-color:#FFFFFF;">
		<tr>
			<td><div data-dojo-attach-point="progressBar" style="float:left;width:30px;height:15px;background:url('/navigator/ecm/themes/oneui/dijit/images/loadingAnimation.gif')  no-repeat center;display:none;"></div><div data-dojo-attach-point="message" style="font-family:arial;font-size:12px;font-weight:bold;color:#000253;float:left;"></div></td>
		</tr>
	</table>	
</div>	