<div class="popupDialog dijitDialog" style="width: 600px;" role="dialog" aria-labelledby="${id}_title">
	<div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
		<span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
		<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon" data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
			<span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>
	</div>				
	<div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
		<table width="100%">	 
			<tr>
				<td width="5px"><div data-dojo-attach-point="confirmationImage"></div></td>
				<td><div data-dojo-attach-point="confirmationMessage"></div></td>
			</tr>									
		</table>
		<div data-dojo-attach-point="observacionesPane" style="display:none;" class="dijitDialogPaneContent">
			<table width="100%">		
		  		<tr>
		  			<td width="100%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Observaciones:</td>
				</tr>
		  		<tr>
		  			<td width="100%"><div data-dojo-type="dijit.form.Textarea" style="width: 100%;" data-dojo-attach-point="observaciones" maxlength="1000" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></div></td>
				</tr>	
			</table>	
		</div>	  
	  	<table width="100%">
	  		<tr>
	  			<td><div data-dojo-attach-point="progressBar" style="float:left;width:30px;height:15px;background:url('/navigator/ecm/themes/oneui/dijit/images/loadingAnimation.gif')  no-repeat center;display:none;"></div><div data-dojo-attach-point="message" style="font-family:arial;font-size:12px;font-weight:bold;color:#000253;float:left;"></div></td>
			</tr>
		</table>			
		<div data-dojo-attach-point="actionBar" class="dijitDialogPaneActionBar">
			<div data-dojo-attach-point="confirmationPane" style="display:block;">
				<button data-dojo-attach-point="confirmationButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onConfirmation">S&iacute;</button>
				<button data-dojo-attach-point="cancelButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onClose">No</button>
			</div>
			<div data-dojo-attach-point="closePane" style="display:none;">
				<button data-dojo-attach-point="closeButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onClose">Cerrar</button>
			</div>
		</div>				      
	</div>
</div>