<div class="ecmCenterPane">
	<div data-dojo-type="idx.layout.BorderContainer" data-dojo-attach-point="reportesContainer" id="reportesContainer" class="contentPane" gutters="false" design="sidebar">
		<div data-dojo-type="dijit.layout.ContentPane" region="leading" class="paneNoOverflow" splitter="true" style="width: 15%;">
			<span id="informtionMessage"></span>
			<br><br>
			<div data-dojo-type="ecm.widget.FolderTree" data-dojo-attach-point="reportesTree"></div>									
		</div>					
		<form id="formDownloadReporte" action="/excelecm-cdn-common/DownloadReporte" target="iFrameReporte">
			<input type="hidden" id="reporte" name="reporte" value="" />
			<iframe id="iFrameReporte" name="iFrameReporte" src=""></iframe>
		</form>		
		<div data-dojo-type="dijit.layout.ContentPane" region="center" class="paneNoOverflow" splitter="true">
			<button data-dojo-attach-point="limpiaResultadosButton" data-dojo-type="dijit.form.Button">Limpiar</button>
			<br><br>
			<div id="reportesGrid" style="width: 100%; height: 40px;"></div>
			<br>
			<div id="mensajeContenidoGrid" style="font-family:verdana;font-size:12px;font-style:italic;font-weight:normal;" align="center"></div>	
		</div>
		<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="fieldsCriteriaContentPane" region="bottom" class="paneNoOverflow" splitter="true" style="height: 60%;">
			<br>
			<div style="font-family:verdana;font-size:12px;font-weight:normal;padding:10px;border-radius:10px;border:2px solid white;color:white;background-color:#267DC5;" align="center">Criterios para la generación de reportes</div>	
			<br>
			<table border="0">
				<tr>
					<td width="10px"><button data-dojo-attach-point="ejecutaReporteButton" data-dojo-type="dijit.form.Button">Generar Reporte</button></td>
				  <td width="200px" align="right">
					<label>Formato de Salida:</label>
					<div data-dojo-type="ecm.widget.HoverHelp" message="Formato en el que será generado el reporte seleccionado."></div>
				  </td>
				  <td width="50px">
					<select data-dojo-attach-point="formatoSalida" data-dojo-type="ecm.widget.Select" id="formatoSalida">
						<option value="0" selected="selected">PDF</option>
						<option value="1">EXCEL</option>
						<option value="3">HTML</option>
					</select>
				  </td>	
					<td width="50px">
						<div id="standByContainer" style="width: 50px; height: 30px;"></div>
						<div id="standByWidget" data-dojo-type="dojox.widget.Standby" data-dojo-props="target:'standByContainer', color:'transparent', image:'/navigator/idx/themes/oneui/dijit/images/loadingAnimation.gif'"></div>					
					</td>				
					<td><div data-dojo-attach-point="message" style="font-family:arial;font-size:12px;font-weight:bold;color:#970303;" style="display: none">&nbsp;</div></td>
				</tr>
			</table>
			<br>
			<!-- Panel de criterios en blanco -->
			<div data-dojo-attach-point="criteriosPaneDefault" style="display:block;" style="background-color:#F7F6F6;">
				<table width="100%" border="0">
					<tr>
						<td width="100%" align="center" style="font-family:verdana;font-size:12px;font-style:italic;font-weight:normal;">No existen criterios para el rubro de reportes seleccionado</td>
					</tr>
				</table>
			</div>
			<!-- Panel de Criterios para Gestion de Contenedores -->
			<div data-dojo-attach-point="criteriosPaneGC" style="display:none;">
				<table width="100%" border="0" cellpadding="3" cellspacing="3">
					<tbody> 
					  <tr style="background-color:#F7F6F6;">			
						  <td width="20px">
							<img id="paramNumeroContenedorPointer" style="display: none">
						  </td>
						  <td width="20%">
							<label>Número de Contenedor (como):</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Número de contenedor a considerar para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue" colspan="4">
							<div data-dojo-type="ecm.widget.ValidationTextBox" data-dojo-attach-point="paramNumeroContenedor" id="paramNumeroContenedor" style="width:250px;"></div>
						  </td>									  
					  </tr>
					  <tr style="background-color:#F7F6F6;">	
						  <td width="20px">
							<img id="paramEstadoContenedorPointer" style="display: none">
						  </td>					  
						  <td width="20%">
							<label>Estado de Contenedor:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Estado del contenedor a considerar para el reporte seleccionado."></div>
						  </td>	 
						  <td class="propertyRowValue" width="30%">
							<select data-dojo-attach-point="paramEstadoContenedor" data-dojo-type="ecm.widget.Select" id="paramEstadoContenedor">
								<option value="">-- SELECCIONAR --</option>
								<option value="0">En Progreso</option>
								<option value="1">Entregado</option>
							</select>					  
						  </td>	
						  <td width="20px">
							<img id="paramCierreContablePointer" style="display: none">
						  </td>						  				  					  
						  <td width="20%">
							<label>Cierre Contable:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Estado del cierre contable a considerar para el reporte seleccionado."></div>
						  </td>	 
						  <td class="propertyRowValue" width="30%">
							<select data-dojo-attach-point="paramCierreContable" data-dojo-type="ecm.widget.Select" id="paramCierreContable">
								<option value="">-- SELECCIONAR --</option>
								<option value="true">Cerrado</option>
								<option value="false">En Progreso</option>
							</select>					  
						  </td>						  
					  </tr>
					  <tr style="background-color:#F7F6F6;">
						  <td width="20px">
							<img id="paramFechaCreacionDesdePointer" style="display: none">
						  </td>					  
						  <td width="20%">
							<label>Fecha de Creación del Contenedor desde:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de creación del contenedor inicial como rango de fechas para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue" width="30%">
							<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaCreacionDesde" id="paramFechaCreacionDesde" constraints="{datePattern:'dd/MM/yyyy'}"></div>
						  </td>			
						  <td width="20px">
							<img id="paramFechaCreacionHastaPointer" style="display: none">
						  </td>						  
						  <td width="20%">
							<label>Fecha de Creación del Contenedor hasta:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de creación del contenedor final como rango de fechas para el reporte seleccionado."></div>
						  </td>	 
						  <td class="propertyRowValue" width="30%">
							<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaCreacionHasta" id="paramFechaCreacionHasta" constraints="{datePattern:'dd/MM/yyyy'}"></div>
						  </td>					  
					  </tr>				  						  
					  <tr style="background-color:#F7F6F6;">
						  <td width="20px">
							<img id="paramFechaRegistroDesdePointer" style="display: none">
						  </td>					  
						  <td width="20%">
							<label>Fecha de Registro del Contenedor desde:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de registro inicial como rango de fechas para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue" width="30%">
							<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaRegistroDesde" id="paramFechaRegistroDesde" constraints="{datePattern:'dd/MM/yyyy'}"></div>
						  </td>			
						  <td width="20px">
							<img id="paramFechaRegistroHastaPointer" style="display: none">
						  </td>						  
						  <td width="20%">
							<label>Fecha de Registro del Contenedor hasta:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de registro final como rango de fechas para el reporte seleccionado."></div>
						  </td>	 
						  <td class="propertyRowValue" width="30%">
							<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaRegistroHasta" id="paramFechaRegistroHasta" constraints="{datePattern:'dd/MM/yyyy'}"></div>
						  </td>					  
					  </tr>
					  <tr style="background-color:#F7F6F6;">
						  <td width="20px">
							<img id="paramFechaEntregaClienteDesdePointer" style="display: none">
						  </td>					  
						  <td width="20%">
							<label>Fecha de Entrega a Cliente desde:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de entrega a cliente inicial como rango de fechas para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue" width="30%">
							<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaEntregaClienteDesde" id="paramFechaEntregaClienteDesde" constraints="{datePattern:'dd/MM/yyyy'}"></div>
						  </td>			
						  <td width="20px">
							<img id="paramFechaEntregaClienteHastaPointer" style="display: none">
						  </td>						  
						  <td width="20%">
							<label>Fecha de Entrega a Cliente hasta:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de entrega a cliente final como rango de fechas para el reporte seleccionado."></div>
						  </td>	 
						  <td class="propertyRowValue" width="30%">
							<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaEntregaClienteHasta" id="paramFechaEntregaClienteHasta" constraints="{datePattern:'dd/MM/yyyy'}"></div>
						  </td>					  
					  </tr>				  
					  <tr style="background-color:#F7F6F6;">		
						  <td width="20px">
							<img id="paramNombreClientePointer" style="display: none">
						  </td>
						  <td width="20%">
							<label>Nombre de Cliente:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Nombre de cliente a considerar para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue" width="30%">
							<div id="clientesSelect"></div>		
						  </td>
						  <td width="20px">
							<img id="paramNombreNavieraPointer" style="display: none">
						  </td>
						  <td width="20%">
							<label>Nombre de Naviera:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Nombre de la naviera a considerar para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue" width="30%">
							<div id="navieraSelect"></div>		
						  </td>							  								  
					  </tr>
					  <tr style="background-color:#F7F6F6;">		
						  <td width="20px">
							<img id="paramNombreAgenciaAduanalPointer" style="display: none">
						  </td>
						  <td width="20%">
							<label>Nombre de Agencia Aduanal:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Nombre de agencia aduanal a considerar para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue" width="30%">
							<div id="agenciaAduanalSelect"></div>		
						  </td>	
						  <td width="20px">
							<img id="paramImportadoraPointer" style="display: none">
						  </td>
						  <td width="20%">
							<label>Importadora:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Nombre la importadora a considerar para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue" width="30%">
							<div id="importadoraSelect"></div>		
						  </td>								  								  
					  </tr>				  					  				  					  				  
					</tbody>
				</table>
			</div>
			<!-- Panel de Criterios para Gestion de Facturas -->
			<div data-dojo-attach-point="criteriosPaneGF" style="display:none;">
				<table width="100%" border="0" cellpadding="3" cellspacing="3">
					<tbody> 
					 	<tr style="background-color:#F7F6F6;">			
						  <td width="20px">
							<img id="paramNumeroFolioPointer" style="display: none">
						  </td>
						  <td width="20%">
							<label>Número de Folio (como):</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Número de folio a considerar para el reporte seleccionado."></div>
						  </td>
						  <td class="propertyRowValue">
							<div data-dojo-type="ecm.widget.ValidationTextBox" data-dojo-attach-point="paramNumeroFolio" id="paramNumeroFolio" style="width:250px;"></div>
						  </td>									  
						  <td width="20px">
							<img id="paramEstadoFacturaPointer" style="display: none">
						  </td>					  
						  <td width="20%">
							<label>Estado de Factura:</label>
							<div data-dojo-type="ecm.widget.HoverHelp" message="Estado de la factura a considerar para el reporte seleccionado."></div>
						  </td>	 
						  <td class="propertyRowValue" width="30%">
							<select data-dojo-attach-point="paramEstadoFactura" data-dojo-type="ecm.widget.Select" id="paramEstadoFactura">
								<option value="">-- SELECCIONAR --</option>
								<option value="0">PENDIENTE POR PAGAR</option>
								<option value="1">PAGADA POR CLIENTE</option>
								<option value="2">DEVUELTA POR PROVEEDOR</option>
								<option value="3">DEVUELTA A CLIENTE</option>
							</select>					  
						  </td>						  
					  	</tr>
						  <tr style="background-color:#F7F6F6;">
							  <td width="20px">
								<img id="paramFechaSolicitudDesdePointer" style="display: none">
							  </td>					  
							  <td width="20%">
								<label>Fecha de Registro Desde:</label>
								<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de registro inicial como rango de fechas para el reporte seleccionado."></div>
							  </td>
							  <td class="propertyRowValue" width="30%">
								<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaSolicitudDesde" id="paramFechaSolicitudDesde" constraints="{datePattern:'dd/MM/yyyy'}" value="now"></div>
							  </td>			
							  <td width="20px">
								<img id="paramFechaSolicitudHastaPointer" style="display: none">
							  </td>					  
							  <td width="20%">
								<label>Fecha de Registro Hasta:</label>
								<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de registro final como rango de fechas para el reporte seleccionado."></div>
							  </td>
							  <td class="propertyRowValue" width="30%">
								<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaSolicitudHasta" id="paramFechaSolicitudHasta" constraints="{datePattern:'dd/MM/yyyy'}" value="now"></div>
							  </td>					  
						  </tr>						  	
						  <tr style="background-color:#F7F6F6;">
							  <td width="20px">
								<img id="paramFechaFacturaDesdePointer" style="display: none">
							  </td>					  
							  <td width="20%">
								<label>Fecha de Factura Desde:</label>
								<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de factura inicial como rango de fechas para el reporte seleccionado."></div>
							  </td>
							  <td class="propertyRowValue" width="30%">
								<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaFacturaDesde" id="paramFechaFacturaDesde" constraints="{datePattern:'dd/MM/yyyy'}"></div>
							  </td>			
							  <td width="20px">
								<img id="paramFechaFacturaHastaPointer" style="display: none">
							  </td>					  
							  <td width="20%">
								<label>Fecha de Factura Hasta:</label>
								<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de factura final como rango de fechas para el reporte seleccionado."></div>
							  </td>
							  <td class="propertyRowValue" width="30%">
								<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaFacturaHasta" id="paramFechaFacturaHasta" constraints="{datePattern:'dd/MM/yyyy'}"></div>
							  </td>					  
						  </tr>		
						  <tr style="background-color:#F7F6F6;">
							  <td width="20px">
								<img id="paramFechaPagoDesdePointer" style="display: none">
							  </td>					  
							  <td width="20%">
								<label>Fecha de Pago Desde:</label>
								<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de pago inicial como rango de fechas para el reporte seleccionado."></div>
							  </td>
							  <td class="propertyRowValue" width="30%">
								<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaPagoDesde" id="paramFechaPagoDesde" constraints="{datePattern:'dd/MM/yyyy'}"></div>
							  </td>			
							  <td width="20px">
								<img id="paramFechaPagoHastaPointer" style="display: none">
							  </td>					  
							  <td width="20%">
								<label>Fecha de Pago Hasta:</label>
								<div data-dojo-type="ecm.widget.HoverHelp" message="Fecha de pago final como rango de fechas para el reporte seleccionado."></div>
							  </td>
							  <td class="propertyRowValue" width="30%">
								<div data-dojo-type="ecm.widget.DatePicker" data-dojo-attach-point="paramFechaPagoHasta" id="paramFechaPagoHasta" constraints="{datePattern:'dd/MM/yyyy'}"></div>
							  </td>					  
						  </tr>							  
						  <tr style="background-color:#F7F6F6;">
							  <td width="20px">
								<img id="paramImporteDesdePointer" style="display: none">
							  </td>					  
							  <td width="20%">
								<label>Importe Desde:</label>
								<div data-dojo-type="ecm.widget.HoverHelp" message="Importe inicial como rango de fechas para el reporte seleccionado."></div>
							  </td>
							  <td class="propertyRowValue" width="30%">
								<div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="paramImporteDesde" id="paramImporteDesde" data-dojo-props="constraints: {max: 1.7976931348623157e+308, maxString: '1.7976931348623157E308', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato inválido'"></div>
							  </td>			
							  <td width="20px">
								<img id="paramImporteHastaPointer" style="display: none">
							  </td>					  
							  <td width="20%">
								<label>Importe Hasta:</label>
								<div data-dojo-type="ecm.widget.HoverHelp" message="Importe final como rango de fechas para el reporte seleccionado."></div>
							  </td>
							  <td class="propertyRowValue" width="30%">
								<div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="paramImporteHasta" id="paramImporteHasta" data-dojo-props="constraints: {max: 1.7976931348623157e+308, maxString: '1.7976931348623157E308', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato inválido'"></div>
							  </td>					  
						  </tr>		
							<tr style="background-color:#F7F6F6;">			
								<td width="20px">
									<img id="paramNumeroFacturaPointer" style="display: none">
								</td>
								<td width="20%">
									<label>Número de Factura (como):</label>
									<div data-dojo-type="ecm.widget.HoverHelp" message="Número de factura a considerar para el reporte seleccionado."></div>
								</td>
								<td class="propertyRowValue">
									<div data-dojo-type="ecm.widget.ValidationTextBox" data-dojo-attach-point="paramNumeroFactura" id="paramNumeroFactura" style="width:250px;"></div>
								</td>									  
								  <td width="20px">
									<img id="paramProveedorPointer" style="display: none">
								  </td>
								  <td width="20%">
									<label>Proveedor:</label>
									<div data-dojo-type="ecm.widget.HoverHelp" message="Proveedor a considerar para el reporte seleccionado."></div>
								  </td>
								  <td class="propertyRowValue" width="30%">
									<div id="proveedoresGFSelect"></div>		
								  </td>					  
							</tr>	
							  <tr style="background-color:#F7F6F6;">		
								  <td width="20px">
									<img id="paramClientePointer" style="display: none">
								  </td>
								  <td width="20%">
									<label>Cliente:</label>
									<div data-dojo-type="ecm.widget.HoverHelp" message="Cliente a considerar para el reporte seleccionado."></div>
								  </td>
								  <td class="propertyRowValue" width="30%">
									<div id="clientesGFSelect"></div>		
								  </td>
								  <td width="20px">
									<img id="paramEmpresaPointer" style="display: none">
								  </td>
								  <td width="20%">
									<label>Empresa:</label>
									<div data-dojo-type="ecm.widget.HoverHelp" message="Empresa a considerar para el reporte seleccionado."></div>
								  </td>
								  <td class="propertyRowValue" width="30%">
									<div id="empresasGFSelect"></div>		
								  </td>							  								  
							  </tr>	
							 	<tr style="background-color:#F7F6F6;">											  
								  <td width="20px">
									<img id="paramTipoPagoPointer" style="display: none">
								  </td>					  
								  <td width="20%">
									<label>Tipo de Pago:</label>
									<div data-dojo-type="ecm.widget.HoverHelp" message="Tipo de pago a considerar para el reporte seleccionado."></div>
								  </td>	 
								  <td class="propertyRowValue" width="30%">
									<select data-dojo-attach-point="paramTipoPago" data-dojo-type="ecm.widget.Select" id="paramTipoPago">
										<option value="">-- SELECCIONAR --</option>
										<option value="0">PAGO DE CLIENTE</option>
										<option value="1">DEVOLUCIÓN DE PROVEEDOR</option>
										<option value="2">DEVOLUCIÓN A CLIENTE</option>
										<option value="3">PAGO A SALDO PENDIENTE</option>
									</select>					  
								  </td>	
								  <td width="20px">
									<img id="paramEstadoSaldoPointer" style="display: none">
								  </td>					  
								  <td width="20%">
									<label>Estado Saldo:</label>
									<div data-dojo-type="ecm.widget.HoverHelp" message="Estado del saldo considerar para el reporte seleccionado."></div>
								  </td>	 
								  <td class="propertyRowValue" width="30%">
									<select data-dojo-attach-point="paramEstadoSaldo" data-dojo-type="ecm.widget.Select" id="paramEstadoSaldo">
										<option value="">-- SELECCIONAR --</option>
										<option value="0">SALDO PENDIENTE</option>
										<option value="1">SIN SALDO</option>
									</select>					  
								  </td>									  					  
							  	</tr>	
							  </tr>	
							 	<tr style="background-color:#F7F6F6;">		
								  <td width="20px">
									<img id="paramTipoDevolucionPointer" style="display: none">
								  </td>					  
								  <td width="20%">
									<label>Tipo de Devolución:</label>
									<div data-dojo-type="ecm.widget.HoverHelp" message="Tipo de devolución a considerar para el reporte seleccionado."></div>
								  </td>	 
								  <td class="propertyRowValue" width="30%">
									<select data-dojo-attach-point="paramTipoPago" data-dojo-type="ecm.widget.Select" id="paramTipoDevolucion">
										<option value="">-- SELECCIONAR --</option>
										<option value="0">DEVOLUCIÓN DE PROVEEDOR</option>
										<option value="1">DEVOLUCIÓN A CLIENTE</option>
									</select>					  
								  </td>	
								  <td width="20px">
									<img id="paramEstadoDevolucionPointer" style="display: none">
								  </td>					  
								  <td width="20%">
									<label>Estado de la Devolución:</label>
									<div data-dojo-type="ecm.widget.HoverHelp" message="Estado de la devolución a considerar para el reporte seleccionado."></div>
								  </td>	 
								  <td class="propertyRowValue" width="30%">
									<select data-dojo-attach-point="paramEstadoDevolucion" data-dojo-type="ecm.widget.Select" id="paramEstadoDevolucion">
										<option value="">-- SELECCIONAR --</option>
										<option value="0">PENDIENTE</option>
										<option value="1">DEVUELTA</option>
									</select>					  
								  </td>
							  	</tr>							  	
					 </tbody>
				</table>
			</div>			
		</div>
	</div>	
</div>