<div data-dojo-type="dijit.layout.ContentPane">
	<div data-dojo-type="dijit.layout.ContentPane" region="center" class="paneNoOverflow" splitter="true" style="background-color:#FFFFFF;">	
		<div data-dojo-attach-point="clientesGrid" style="width: 100%;"></div>	
	</div>	
	<table width="100%" border="0" style="background-color:#FFFFFF;">
		<tr>
			<td colspan="2" width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Datos Generales</td>
		</tr>		  	
		<tr>
			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Raz&oacute;n Social:</label></td>
			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="razonSocial" required=true uppercase=true maxlength="64"></div></td>
		</tr>
		<tr>
			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">RFC:</label></td>
			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="rfc" required=true uppercase=true data-dojo-props="regExp:'[A-Z,Ñ,&]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?', invalidMessage:'Formato Inválido.'"></div></td>
		</tr>
		<tr>
			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Direcci&oacute;n Fiscal:</label></td>
			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="direccionFiscal" uppercase=true required=true></div></td>
		</tr>	  			  		
		<tr>
			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Comisi&oacute;n del Proveedor:</label></td>
			<td width="80%"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="porcentajeComisionProveedor" value=0 required=true maxlength="6" data-dojo-props="constraints: {max: 100.00, maxString: '100.00', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato del porcentaje de comisión inválido'"></div><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;"> %</label></td>	  			
		</tr>
		<tr>
			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Comisi&oacute;n del Distribuidor:</label></td>
			<td width="80%"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="porcentajeComisionDistribuidor" value=0 required=true maxlength="6" data-dojo-props="constraints: {max: 100.00, maxString: '100.00', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato del porcentaje de comisión inválido'"></div><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;"> %</label></td>	  			
		</tr>	  				  		
		<tr>
			<td colspan="2" width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Datos de Contacto</td>
		</tr>	 
		<tr>
			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Nombre del Contacto:</label></td>
			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="contactoNombre" required=true></div></td>
		</tr>	  			  			  		 			  		  			  		
		<tr>
			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Correo Principal:</label></td>
			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="contactoMailTo" required=true></div></td>
		</tr>
		<tr>
			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Correo(s) Alterno(s):</td>
			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="contactoMailCc" required=false></div></td>
		</tr>	  		
		<tr>
			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Tel&eacute;fono:</td>
			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="contactoTelefono" required=false></div></td>
		</tr> 
		<tr>
			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Devoluci&oacute;n Directa del Proveedor:</td>
			<td width="80%"><div data-dojo-type="ecm.widget.CheckBox" data-dojo-attach-point="devolucionDirectaProveedor" value=true data-dojo-props="checked: false"></td>
		</tr> 	  		 		  		
	</table>
	<table width="100%" border="0" style="background-color:#FFFFFF;">
		<tr>
			<td><div data-dojo-attach-point="progressBar" style="float:left;width:30px;height:15px;background:url('/navigator/ecm/themes/oneui/dijit/images/loadingAnimation.gif')  no-repeat center;display:none;"></div><div data-dojo-attach-point="message" style="font-family:arial;font-size:12px;font-weight:bold;color:#6B0A0A;float:left;"></div></td>
		</tr>
	</table>
</div>