<div class="popupDialog dijitDialog" style="width: 800px;" role="dialog" aria-labelledby="${id}_title">
	<div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
		<span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"><b>Configuraci&oacute;n Gesti&oacute;n de Facturas</b></span>
		<span data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon" data-dojo-attach-event="ondijitclick: onClose" title="${buttonCancel}" role="button" tabIndex="-1">
			<span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
		</span>		
	</div>
	<div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
	  	<table width="100%" border="0" style="background-color:#F7F6F6;">
	  		<tr>
	  			<td colspan="2" width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Par&aacute;metros de Notificaci&oacute;n</td>
	  		</tr>		  	
	  		<tr>
	  			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">De:</label></td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="emailFrom" required=true></div></td>
	  		</tr>
	  		<tr>
	  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Alias:</td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="emailAlias" required=false></div></td>
	  		</tr>	
	  		<tr>
	  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Correo(s) Oculto(s):</td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="emailBcc" required=false></div></td>
	  		</tr>		  			  			
	  		<tr>
	  			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Contrase&ntilde;a:</label></td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="emailPassword" type="password" required=true></div></td>
	  		</tr>
	  		<tr>
	  			<td width="20%" style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Starttls:</td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.CheckBox" data-dojo-attach-point="starttls" value=true data-dojo-props="checked: false"></div></td>
	  		</tr>
	  		<tr>
	  			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Servidor:</label></td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="emailHost" required=true></div></td>
	  		</tr>
	  		<tr>
	  			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Puerto:</label></td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="emailPort" required=true maxlength="4" data-dojo-props="regExp:'^[0-9]*$', invalidMessage:'Formato Inválido.'"></div></td>
	  		</tr>
	  		<tr>
	  			<td colspan="2" width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Par&aacute;metros de Sistema</td>
	  		</tr>	 
	  		<tr>
	  			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">M&aacute;ximo de resultados en b&uacute;squedas:</label></td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="maxRecords" value=500 required=true maxlength="4" data-dojo-props="regExp:'^[0-9]*$', invalidMessage:'Formato Inválido.'"></div></td>
	  		</tr>
	  		<tr>
	  			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">M&aacute;ximo de tiempo en b&uacute;squedas:</label></td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="timeLimit" value=180 required=true maxlength="3" data-dojo-props="regExp:'^[0-9]*$', invalidMessage:'Formato Inválido.'"></div></td>
	  		</tr>		  			  			
	  		<tr>
	  			<td colspan="2" width="20%" style="font-family:arial;font-size:12px;font-weight:bold;color:black;">Par&aacute;metros de Aplicaci&oacute;n</td>
	  		</tr>	 
	  		<tr>
	  			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">C&aacute;lculo de IVA:</label></td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.RangeBoundTextBox" data-dojo-attach-point="calculoIVA" value=0 maxlength="6" data-dojo-props="constraints: {max: 100.00, maxString: '100.00', min: 0, minString: '0.00'}, pattern: '([+|-]{0,1})([\\d]{0,})([\\.]{0,1})([\\d]{1,})(([eE]([-+]{0,1})([\\d]{1,})){0,1})', invalidMessage:'Formato inválido'"></div></td>
	  		</tr>		  		  			  			 
	  		<tr>
	  			<td width="20%"><label style="color:#970303;">* </label><label style="font-family:arial;font-size:12px;font-weight:normal;color:black;">Folio Consecutivo:</label></td>
	  			<td width="80%"><div data-dojo-type="ecm.widget.ValidationTextBox" style="width: 100%;" data-dojo-attach-point="folioConsecutivo" required=true maxlength="10" data-dojo-props="regExp:'^[0-9]*$', invalidMessage:'Formato Inválido.'"></div></td>
	  		</tr>	  			  			  		 			  		  			  		
		</table>
	  	<table width="100%" border="0" style="background-color:#F7F6F6;">
	  		<tr>
	  			<td><div data-dojo-attach-point="progressBar" style="float:left;width:30px;height:15px;background:url('/navigator/ecm/themes/oneui/dijit/images/loadingAnimation.gif')  no-repeat center;display:none;"></div><div data-dojo-attach-point="message" style="font-family:arial;font-size:12px;font-weight:bold;color:#6B0A0A;float:left;"></div></td>
			</tr>
		</table>
		<div data-dojo-attach-point="actionBar" class="dijitDialogPaneActionBar">
			<button data-dojo-attach-point="refreshButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onLoad">Refrescar</button>
			<button data-dojo-attach-point="saveButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onSave">Guardar</button>
			<button data-dojo-attach-point="closeButton" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: onClose">Cerrar</button>
		</div>
	</div>
</div>